<div class="container">
    <h2 style="text-align: center;"><i class="fa fa-sign-in"></i><span> Login</span> </h2>
    <div action="" class="form-horizontal">
        <div class="form-group form-group-lg">
            <label for="username" class="control-label col-sm-2">Username: </label>
            <div class="col-sm-10">
                <input ngModel #username="ngModel" bindon-ngModel="credentials.identifier" id="username" placeholder="Username" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="password" class="control-label col-sm-2">Password: </label>
            <div class="col-sm-10">
                <input ngModel #password="ngModel" bindon-ngModel="credentials.password" id="password" placeholder="Password" type="password" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button (click)="loginSubmit()" [disabled]="!username.valid || !password.valid" class="btn btn-lg btn-primary">Submit</button>
                <div *ngIf="loginPending">
                    <i class="btn fa fa-spinner fa-spin fa-2x"></i>
                    <label>Loading</label>
                </div>
                <span *ngIf="!username.valid || !password.valid" class="help-block" style="color: #a94442">Both username and password fields need to be filled</span>
                <span *ngIf="loginFail" class="help-block" style="color: #a94442">Credentials incorrect</span>
            </div>
        </div>
    </div>
    <hr>
</div>